{% extends 'layout.html' %}

{% block title %}
    Link List
{% endblock %}

{% block content %}
    <section>
        <h1>List</h1>
        
        {% for link in links %}
            <hr>
            <article class="post">
                <a href="{% url 'links:detail' link.pk %}">
                    <p>title: {{ link.title }}</p>
                    <p>content: {{ link.content }}</p>
                    <p>created at: {{ link.created_at }}</p>
                    <p>updated at: {{ link.updated_at }}</p>
                </a>
            </article>
        {% endfor %}
            
    </section>
{% endblock %}
